<div class="{{ block.settings.width }}" kjb-settings-id="{{ 'action' | settings_id: section: section, block: block }}">
  <a href="{{ block.settings.action }}" class="btn">{{ block.settings.text }}</a>
</div>
