.header {
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid $color-offset;
  img {
    height: 40px;
  }
  a {
    margin-right: 20px;
    font-weight: 600;
  }
  .dropdown {
    &-menu {
      left: auto !important;
      right: 0;
    }
    img {
      border-radius: 50%;
    }
    a {
      display: block;
      padding: 5px 15px;
      margin-right: 0;
      font-size: 14px;
    }
  }
}
